# SCA Configuration
SCA_ACCOUNT=sca_account
SCA_USERNAME=sca_user
SCA_PASSWORD=sca_password

SCA_PROXY=

# SAST Configuration
SAST_USERNAME=sast_user
SAST_PASSWORD=sast_password
SAST_SERVER_NAME=sast_servr
SAST_PROXY=

# SMTP / Email Configuration
SMTP_SERVER=smtp_server
SMTP_PORT=smtp_port
SMTP_USERNAME=smtp_user
SMTP_PASSWORD=smtp_password
SMTP_USE_TLS=smtp_use_tls
EMAIL_FROM=smtp_email_from
